<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <%- include('Header'); -%> 
<h1>This is About Page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque est officia quae a ducimus, accusantium culpa animi
    enim rem vero voluptates quia minima totam commodi ut, nesciunt eum aspernatur. Iste temporibus nemo corporis beatae
    hic rem quasi dignissimos assumenda excepturi.
</p>
</body>
</html>