<style>
  *{
    margin: 0;padding: 0;
  }
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
li{
    padding: 1rem;
    list-style: none;

  }
li a{
  text-decoration: none;
  color: black;
  font-size: large;
}
nav{
  border-bottom: 1px solid gray;
  background-color: rgb(106, 186, 212);
}
</style>

<section>
  <nav>
    <ul class="menuItems">
      <li><a href='/' data-item='Home'>Home</a></li>
      <li><a href='about' data-item='About'>About</a></li>
      <li><a href='/compose' data-item='Blog'>Compose</a></li>
    </ul>
  </nav>
</section>